[Unit]
Description=Mount Google Drive using rclone
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount gdrive: /home/leo/mnt/gdrive \
    --config /home/leo/.config/rclone/rclone.conf \
    --vfs-cache-mode writes
ExecStop=/bin/fusermount -u /home/leo/mnt/gdrive
Restart=always
User=leo
Group=leo

[Install]
WantedBy=default.target

