[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=azote
Name=Azote
Icon=azote
Terminal=false
GenericName=Azote wallpaper manager
Categories=Utility;GTK;DesktopSettings;
Comment=Browse, flip and set desktop wallpapers
Keywords=background;desktop;
