[Desktop Entry]
Type=Application
Name=Displays Settings
GenericName=Output configuration utility
Comment=nwg-shell tool to configure outputs
Exec=nwg-displays
Icon=nwg-displays
Terminal=false
Categories=Settings;DesktopSettings;
