[Unit]
Description=Toggle idle inhibition depending on whether the audio is playing or not
After=swayidle.service
Wants=swayidle.service

[Service]
ExecStart=/home/leo/.config/sway/scripts/idle-inhibitor.sh
Restart=always
RestartSec=30

[Install]
WantedBy=sway-session.target
